
@font-face{
    font-family: 'Basement';
    src: local(Basement), url(../assets/font/Basement.otf), format('otf');
  }

  
  p{
    font-family:ep-stelaris ;
    color: rgb(5, 5, 5);
    font-size: 56px;
  }