
@font-face{
  font-family: 'Basement';
  src:  url(./assets/font/Basement.woff) format('woff');
}
@font-face{
  font-family: 'ep-stellaris';
  src:  url(./assets/font/ep-stellaris.woff) format('woff');
}

